<!DOCTYPE html>
<html lang="en">

<head th:replace="~{user/include/head_header_footer.html::head}">

<body>
<header th:replace="~{user/include/head_header_footer.html::header}"></header>

<section>
    <div id="section_wrap">
        <div class="word">
            실종/목격 게시판
        </div>
        <div class="container text-center" style="width: 1800px">
            <div class="row">
                <div class="row">
                    <div class="col d-flex">
                        <a class="btn btn-primary" th:href="@{/user/board/free_board_form}" role="button">글쓰기</a>
                    </div>
                    <div class="col">
                        <div class="row ml-auto">
                            <div class="col">
                                실종/목격
                            </div>
                            <div class="col">
                                축종
                            </div>
                            <div class="col">
                                지역
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-4 mb-5" th:each="freeBoardUserDto : ${freeBoardUserDtos}">
                    <div class="card bg-success-subtle border-0 h-100">
                        <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <i class="bi bi-collection"></i></div>
                            <a th:if="${freeBoardUserDto.fb_image} == 'no_image'" th:href="@{/user/board/(fb_no=${freeBoardUserDto.fb_no})}">
                                <img th:src="@{/img/no_img.png}" alt="img" class="d-block w-100 h-100 mb-4" style="max-height: 200px; object-fit: cover;">
                            </a>
                            <a th:unless="${freeBoardUserDto.fb_image} == 'no_image'" th:href="@{/user/board/(fb_no=${freeBoardUserDto.fb_no})}">
                                <img th:src="@{'/UploadImg/'+ ${freeBoardUserDto.fb_image}}" alt="img" class="d-block w-100 h-100 mb-4" style="max-height: 200px; object-fit: cover;">
                            </a>

                            <a href="#none" class="text-dark" style="text-decoration: none;">
                                <h3 class="fs-4 fw-bold" th:text="${freeBoardUserDto.fb_title}"></h3>
                            </a>
                            <div class="mt-2">
                                <img th:src="@{/img/user.png}">
                                <span class="mr-0" style="text-align: center;" th:text="${freeBoardUserDto.u_m_id}"></span>
                                <br/>
                                <img th:src="@{/img/eye.png}">
                                <span class="mb-0" style="text-align: center;" >조회수</span><br/>
                                <img th:src="@{/img/calendar-days.png}">
                                작성일 : <span class="mb-0" style="text-align: center;" th:text="${freeBoardUserDto.fb_reg_date}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<footer th:replace="~{user/include/head_header_footer.html::footer}"></footer>

</body>
</html>