<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:src="@{/js/create_account_form.js}" type="text/javascript"></script>

</head>
<body>
<header th:replace="~{/include/header_nav_footer.html::header}">

</header>


<nav th:replace="~{/include/header_nav_footer.html::nav}">

</nav>


<section>
    <div id="section_wrap">
        <div class="word">
            CREATE ACCOUNT FORM
        </div>
        <div class="create_account_form">

            <form th:action="@{/member/admin/admin_create_account_confirm}" name="admin_create_account_form" ,method="post">
                <input type="text" name="m_id" placeholder="INPUT ID">
                <input type="password" name="m_pw" placeholder="INPUT PW">
                <input type="email" name="m_mail" placeholder="INPUT MAIL">
                <input type="text" name="m_phone" placeholder="INPUT PHONE">
                <input type="button" value="create account" onclick="createAccountForm();">
                <input type="reset" value="reset">
            </form>
        </div>

        <div class="go_login_form">
            <a th:href="@{/member/member_login_form}">Already have an account? login</a>
        </div>

    </div>
</section>


<footer th:replace="~{/include/header_nav_footer.html::footer}">

</footer>
</body>
</html>