<!DOCTYPE html>
<html>
<head th:replace="~{user/include/head_header_footer.html::head}">

</head>
<body>

<header th:replace="~{user/include/head_header_footer.html::header}">
</header>

<section>
    <div class="w-25 bg-success p-3 mt-5 mx-auto text-center text-light" style="border-radius: 5px;">
        <span style="font-size: 24px; font-weight: bold">후기 게시판</span>
    </div>

    <div class="container px-lg-5 mt-2">
        <div class="m-3">
            <a class="btn btn-outline-success ms-3" th:href="@{/user/board/write_review_form}" style="text-decoration: none;">글쓰기</a>
        </div>
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-success-subtle border-0 h-100">
                    <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <a href="#none">
                            <img th:src="@{/img/temp3.jpg}" alt="img" class="d-block w-100 mb-4"style="max-height: 600px;">
                        </a>
                        <a href="#none" class="text-dark" style="text-decoration: none;">
                            <h3 class="fs-4 fw-bold">후기입니다요~</h3>
                        </a>
                        <div class="mt-2">
                            <img th:src="@{/img/user.png}">
                            <span class="mr-0" style="text-align: center;">작성자</span>
                            <br/>
                            <img th:src="@{/img/eye.png}">
                            <span class="mb-0" style="text-align: center;">조회수</span>

                            <img th:src="@{/img/calendar-days.png}">
                            <span class="mb-0" style="text-align: center;">작성일</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-success-subtle border-0 h-100">
                    <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <a href="#none">
                            <img th:src="@{/img/temp3.jpg}" alt="img" class="d-block w-100 mb-4"style="max-height: 600px;">
                        </a>
                        <a href="#none" class="text-dark" style="text-decoration: none;">
                            <h3 class="fs-4 fw-bold">후기입니다요~</h3>
                        </a>
                        <div class="mt-2">
                            <img th:src="@{/img/user.png}">
                            <span class="mr-0" style="text-align: center;">작성자</span>
                            <br/>
                            <img th:src="@{/img/eye.png}">
                            <span class="mb-0" style="text-align: center;">조회수</span>

                            <img th:src="@{/img/calendar-days.png}">
                            <span class="mb-0" style="text-align: center;">작성일</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-success-subtle border-0 h-100">
                    <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <a href="#none">
                            <img th:src="@{/img/temp3.jpg}" alt="img" class="d-block w-100 mb-4"style="max-height: 600px;">
                        </a>
                        <a href="#none" class="text-dark" style="text-decoration: none;">
                            <h3 class="fs-4 fw-bold">후기입니다요~</h3>
                        </a>
                        <div class="mt-2">
                            <img th:src="@{/img/user.png}">
                            <span class="mr-0" style="text-align: center;">작성자</span>
                            <br/>
                            <img th:src="@{/img/eye.png}">
                            <span class="mb-0" style="text-align: center;">조회수</span>

                            <img th:src="@{/img/calendar-days.png}">
                            <span class="mb-0" style="text-align: center;">작성일</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-success-subtle border-0 h-100">
                    <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <a href="#none">
                            <img th:src="@{/img/temp3.jpg}" alt="img" class="d-block w-100 mb-4"style="max-height: 600px;">
                        </a>
                        <a href="#none" class="text-dark" style="text-decoration: none;">
                            <h3 class="fs-4 fw-bold">후기입니다요~</h3>
                        </a>
                        <div class="mt-2">
                            <img th:src="@{/img/user.png}">
                            <span class="mr-0" style="text-align: center;">작성자</span>
                            <br/>
                            <img th:src="@{/img/eye.png}">
                            <span class="mb-0" style="text-align: center;">조회수</span>

                            <img th:src="@{/img/calendar-days.png}">
                            <span class="mb-0" style="text-align: center;">작성일</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-success-subtle border-0 h-100">
                    <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <a href="#none">
                            <img th:src="@{/img/temp3.jpg}" alt="img" class="d-block w-100 mb-4"style="max-height: 600px;">
                        </a>
                        <a href="#none" class="text-dark" style="text-decoration: none;">
                            <h3 class="fs-4 fw-bold">후기입니다요~</h3>
                        </a>
                        <div class="mt-2">
                            <img th:src="@{/img/user.png}">
                            <span class="mr-0" style="text-align: center;">작성자</span>
                            <br/>
                            <img th:src="@{/img/eye.png}">
                            <span class="mb-0" style="text-align: center;">조회수</span>

                            <img th:src="@{/img/calendar-days.png}">
                            <span class="mb-0" style="text-align: center;">작성일</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-success-subtle border-0 h-100">
                    <div class="card-body p-2 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <a href="#none">
                            <img th:src="@{/img/temp3.jpg}" alt="img" class="d-block w-100 mb-4"style="max-height: 600px;">
                        </a>
                        <a href="#none" class="text-dark" style="text-decoration: none;">
                            <h3 class="fs-4 fw-bold">후기입니다요~</h3>
                        </a>
                        <div class="mt-2">
                            <img th:src="@{/img/user.png}">
                            <span class="mr-0" style="text-align: center;">작성자</span>
                            <br/>
                            <img th:src="@{/img/eye.png}">
                            <span class="mb-0" style="text-align: center;">조회수</span>

                            <img th:src="@{/img/calendar-days.png}">
                            <span class="mb-0" style="text-align: center;">작성일</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- PAGENATION START -->
    <div class="w-25 p-3 mb-5 mx-auto text-center ">

        <div class="page_number">

        </div>

        <div class="page_goto">
            <input type="number" name="page_target_num">&nbsp; &#47; <span class="page_total_num"></span>
            <a class="goto_page_btn" href="#none">Go to page</a>
        </div>

    </div>
    <!-- PAGENATION END -->

</section>

<footer th:replace="~{user/include/head_header_footer.html::footer}">
</footer>


</body>
</html>