<script th:fragment="js" type="text/javascript">

    $(document).ready(function () {
        console.log("DOCUMENT READY!!");

        // 로그인 confirm
        init_events();

    });

    /*function login_init() {
        console.log("login_init()");

    }*//*function login_init() {
        console.log("login_init()");

    }*/

    /*function login_confirm(AdminMemberDto adminMemberDto) {
        console.log("login_confirm");

    }*/

    function init_events() {
    //로그인
    $(document).on('click', '#section_wrap input[value="로그인"]', function(e) {
        console.log('button CLICK HANDLER!!');

        let form = document.member_login_form;
        if (form.a_m_id.value == '') {
            alert('아이디를 입력해주세요.');
            form.a_m_id.focus();

        } else if (form.a_m_pw.value == '') {
            alert('비밀번호를 입력해주세요.');
            form.a_m_pw.focus();

        } else {
            let a_m_id = $('#section_wrap input[name="a_m_id"]').val();
            let a_m_pw = $('#section_wrap input[name="a_m_pw"]').val();
            ajax_login_confirm(a_m_id, a_m_pw);
        }
    });

    //정보수정
    $(document).on('click', '#section_wrap input[value="회원정보 수정"]', function(e) {
      console.log('button CLICK HANDLER!!');

       let form = document.member_modify_form;
       if (form.a_m_pw.value == '') {
          alert('비밀번호를 입력해주세요.');
          form.a_m_pw.focus();

        } else {
            let a_m_pw = $('#section_wrap input[name="a_m_pw"]').val();
            ajax_modify_confirm(a_m_pw);
            }
        });



    }

    /*
     * AJAX START
     */

    //로그인 ajax
    function ajax_login_confirm(a_m_id, a_m_pw) {
        console.log('ajax_login_confirm() CALLED!!');

        let msgDto = {
            'a_m_id': a_m_id,
            'a_m_pw': a_m_pw,
        };

        $.ajax({
            url: '/admin/member/member_login_confirm',
            type: 'POST',
            data: JSON.stringify(msgDto),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                console.log('AJAX SUCCESS - ajax_login_confirm()');

                if(data.adminMemberDto.a_m_pw != null) {
                    alert('성공');
                    location.href = "/"

                } else {
                    alert('실패');
                    location.href = "/admin/member/member_login_form"
                }

            },
            error: function(data) {
                console.log('AJAX ERROR - ajax_login_confirm()');
                alert('실패');
                location.href = "/admin/member/member_login_form"
            }
        });

    }

    function ajax_modify_confirm(a_m_pw) {
        console.log('ajax_modify_confirm() CALLED!!');

        let msgDto = {
            'a_m_pw': a_m_pw,
        };

        $.ajax({
            url: '/admin/member/member_modify_confirm',
            type: 'POST',
            data: JSON.stringify(msgDto),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function(data) {
                console.log('AJAX SUCCESS - ajax_login_confirm()');

                if(data.adminMemberDto.a_m_pw != null) {
                    alert('성공');
                    location.href = "/"

                } else {
                    alert('실패');
                    location.href = "/admin/member/member_modify_form"
                }

            },
            error: function(data) {
                console.log('AJAX ERROR - ajax_login_confirm()');
                alert('실패');
                location.href = "/admin/member/member_modify_form"
            }
        });

    }

</script>