<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>
</head>
<body>
    <header th:replace="~{/admin/include/admin_header_footer.html::header}">
    </header>

    <section>
        <div id="section_wrap">

            <div class="word">
                MEMBER MODIFY FAIL!!
            </div>
        </div>

            <div class="go_create_account_form">
                <a th:href="@{/admin/member/create_account_form}">회원가입</a>
            </div>
        </div>
    </section>

    <footer th:replace="~{/admin/include/admin_header_footer.html::footer}">
    </footer>
</body>
</html>