<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/admin/common.css}">

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>
    <script th:replace="~{/admin/member/admin_member_js.html::js}" type="text/javascript"></script>
<!--    <script th:src="@{/js/admin/member_modify_form_js.js}"></script>-->

</head>
<body>
    <header th:replace="~{/admin/include/admin_header_footer.html::header}">
    </header>


    <section>
        <div id="section_wrap">

            <div class="word">
                MODIFY FORM
            </div>
            <div id="member_modify_form">
                <form th:action="@{/admin/member/member_modify_confirm}" name="member_modify_form" method="post">
                    <input type="hidden" name="a_m_no" th:if="${session.loginedAdminMemberDto != null}" th:value="${session.loginedAdminMemberDto.a_m_no}">
                    <input type="text" name="a_m_id" th:if="${session.loginedAdminMemberDto != null}" th:value="${session.loginedAdminMemberDto.a_m_id}" readonly="readonly" disabled="disabled">
                    <input type="password" name="a_m_pw" value="******">
                    <input type="button" value="회원정보 수정">
                    <input type="reset" value="초기화">
                </form>
            </div>
        </div>

            <div class="go_create_account_form">
                <a th:href="@{/member/delete_confirm}">회원탈퇴</a>
            </div>
        </div>
    </section>

    <footer th:replace="~{/admin/include/admin_header_footer.html::footer}">
    </footer>
</body>
</html>