<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <title th:replace="~{/include/title.html::title}"></title>-->
    <title>회원정보 수정</title>
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <link rel="stylesheet" th:href="@{/css/admin/common.css}">

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>
    <script th:src="@{/js/admin/member_modify_form_js.js}"></script>
    <script th:src="@{/js/admin/member_delete_confirm.js}"></script>

</head>
<body>
    <header th:replace="~{/admin/include/admin_head_header_footer.html::header}">
    </header>


    <section>
        <div id="section_wrap">

            <div th:fragment="content" class="container mx-auto m-5" style="width: 500px;">
            <!--<div class="word">
                MODIFY FORM
            </div>-->

                    <div class="form-group w-35 p-3 mt-3 mx-auto text-center">
                        <span style="font-size: 24px; white-space: nowrap;">회원정보 수정</span>
                    </div>

            <div class="member_modify_form">
                <form th:action="@{/admin/member/member_modify_confirm}" name="member_modify_form" method="post">
                    <input type="hidden" name="a_m_no" th:if="${session.loginedAdminMemberDto != null}" th:value="${session.loginedAdminMemberDto.a_m_no}">
                    <div class="form-floating mb-3">
                    <input type="text" name="a_m_id" class="form-control" id="floatingId" th:if="${session.loginedAdminMemberDto != null}" th:value="${session.loginedAdminMemberDto.a_m_id}" readonly="readonly" disabled="disabled">
                        <label for="floatingId">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="a_m_pw" value="******" class="form-control" id="floatingPassword"  >
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="s_no" th:value="${session.loginedAdminMemberDto.s_no}" class="form-control" id="floatingSNo"  >
                        <label for="floatingSNo">고유번호</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="s_name" th:value="${session.loginedAdminMemberDto.s_name}" class="form-control" id="floatingSName"  >
                        <label for="floatingSName">name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="s_address" th:value="${session.loginedAdminMemberDto.s_address}" class="form-control" id="floatingSAddress"  >
                        <label for="floatingSAddress">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="s_phone" th:value="${session.loginedAdminMemberDto.s_phone}" class="form-control" id="floatingSPhone"  >
                        <label for="floatingSPhone">Phone</label>
                    </div>
                    <div class="text-center mb-4">
                    <input type="button" value="회원정보 수정" class="btn btn-dark" style="width:40%">
                    </div>
                </form>
            </div>
            </div>

            <div class="text-center m-5">
            <div class="go_delete_confirm">
                <a th:href = "@{/admin/member/member_delete_confirm}" id="delete" th:attr="onclick=|deleteConfirm(event)|">회원탈퇴</a>
            </div>
            </div>

        </div>
    </section>

    <footer th:replace="~{/admin/include/admin_head_header_footer.html::footer}">
    </footer>
</body>
</html>