<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
<!--    <link rel="stylesheet" th:href="@{/css/admin/member_login_form.css}">-->

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>
    <script th:replace="~{/admin/member/admin_member_js.html::js}" type="text/javascript"></script>

<!--
    <script th:src="@{/js/admin/member_login_form_js.js}" type="text/javascript"></script>
-->
</head>
<body>
    <header th:replace="~{/admin/include/admin_header_footer.html::header}">
    </header>

    <section>
        <div id="section_wrap">

            <div class="word">
                관리자 승인 리스트
            </div>

            <div id="search_admin_list">
                <table>
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>고유번호</th>
                            <th>보호소명</th>
                            <th>주소</th>
                            <th>승인</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:id="${dto.a_m_no}" th:each="dto: ${adminMemberDtos}" th:data-no="${dto.a_m_no}">
                            <td class="a_m_no" th:text="${dto.a_m_no}"></td>
                            <td class="a_m_id" th:text="${dto.a_m_id}"></td>
                            <td class="s_no" th:text="${dto.s_no}"></td>
                            <td class="s_name" th:text="${dto.s_name}"></td>
                            <td class="s_address" th:text="${dto.s_address}"></td>
                            <td class="btn_approval">
                                    <div class="approval" th:if="${dto.a_m_approval} == 0">
                                        <a class="approval" href = '#none'>승인대기</a>
                                    </div>
                                    <div class="approval" th:unless="${dto.a_m_approval} == 0">
                                        <a class="approval" href = '#none'>승인완료</a>
                                    </div>
                            </td>
                            <td th:text="${dto.a_m_reg_date}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        </div>
    </section>

    <footer th:replace="~{/admin/include/admin_header_footer.html::footer}">
    </footer>

</body>
</html>