<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:replace="~{/include/title.html::title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>

<header th:fragment="header">
    <div id="header_wrap" class="p-2 bg-dark text-white d-flex justify-content-between align-items-center">
        <div style="margin-left: 30px;">
            <a href="#none"><img class="img-fluid" style="max-width: 130px;" th:src="@{/img/menu_button.png}"></a>
        </div>
        <div class="text-center flex-grow-1" style="margin-right: 100px;">
            <a th:href="@{/admin}"><img class="img-fluid" style="max-width: 130px;" th:src="@{/img/TheWayHome_logo.png}"></a>
        </div>
        <div></div>
    </div>
    <div id="header_wrap" th:if="${session.loginedAdminMemberDto == null}">
        <a th:href="@{/admin}">홈</a>
        <a th:href="@{/admin/member/create_account_form}">회원가입</a>

        <a th:href="@{/admin/member/member_login_form}">로그인</a>
    </div>
    <div>
        <a th:href="@{/}">유저모드</a>
    </div>
    <div id="header_wrap" th:unless="${session.loginedAdminMemberDto == null}">
        <a th:href="@{/admin}">홈</a>&nbsp;&nbsp;
        <a th:href="@{/admin/member/member_modify_form}">회원정보 수정</a>
        <a th:href="@{/admin/member/member_logout_comfirm}">로그아웃</a>&nbsp;&nbsp;
    </div>
    <div>
        <a th:href="@{/admin/member/search_admin_list}">사용자 리스트</a>
    </div>
</header>

<footer th:fragment="footer">
    <div id="footer_wrap" class="bg-dark sticky-bottom">
    <p class="p-4 text-center">Copyright ©OFFICE Corp.All Rights Reserved.</p>
</div>
</footer>