<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:replace="~{/user/include/title.html::title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<header th:fragment="header">
    <div id="header_wrap" class=" p-3 mb-2 bg-danger text-white">
        <a href="#none"><img class="img-fluid" style="max-width: 150px;" th:src="@{/img/menu_button.png}"></a>
        <a th:href="@{/}"><img class="img-fluid" style="max-width: 150px;" th:src="@{/img/TheWayHome_logo.png}"></a>&nbsp;&nbsp;
    </div>
</header>

<footer th:fragment="footer">
    <div id="footer_wrap" class="fixed-bottom">
        Copyright ©OFFICE Corp.All Rights Reserved.
    </div>
</footer>