<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.thewayhome.admin.member.IAdminMemberDaoMapper">

    <select id="isAdmin"
            parameterType="String"
            resultType="Boolean">

        SELECT
            COUNT(*)
        FROM
            tbl_member_admin
        WHERE
            a_m_id = #{a_m_id}
    </select>

    <insert id="insertNewAccount"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto">

        INSERT INTO
            tbl_member_admin(a_m_id, a_m_pw, s_no, s_name, s_address, a_m_reg_date, a_m_mod_date)
        VALUES
            (#{a_m_id}, #{a_m_pw}, #{s_no}, #{s_name}, #{s_address}, NOW(), NOW());
        WHERE


    </insert>

<!--    &lt;!&ndash;로그인&ndash;&gt;-->
<!--    <select id="selectAdminForLogin"-->
<!--            parameterType="String"-->
<!--            resultType="com.btc.thewayhome.admin.member.AdminMemberDto">-->

<!--        SELECT-->
<!--            *-->
<!--        FROM-->
<!--            tbl_member_admin-->
<!--        WHERE-->
<!--            a_m_id = #{a_m_id}-->
<!--          AND-->
<!--            a_m_approval = '1'-->
<!--          AND-->
<!--            use_yn = 'Y'-->

<!--    </select>-->
    <!--로그인-->
    <select id="selectAdminForLogin"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto"
            resultType="com.btc.thewayhome.admin.member.AdminMemberDto">

        SELECT
            *
        FROM
            tbl_member_admin
        WHERE
            a_m_id = #{a_m_id}
          AND
            a_m_approval = '1' OR a_m_approval = '2'
          AND
            use_yn = 'Y'

    </select>

    <!--정보 변경-->
    <update id="updateAccount"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto">

        UPDATE
            tbl_member_admin
        SET
            a_m_pw = #{a_m_pw},
            a_m_mod_date = NOW()
        WHERE
            a_m_no = #{a_m_no}

    </update>

    <!--정보 변경 - 최신화-->
    <select id="getLatestAccountInfo"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto"
            resultType="com.btc.thewayhome.admin.member.AdminMemberDto">
        SELECT
            *
        FROM
            tbl_member_admin
        WHERE
            a_m_no = #{a_m_no}
    </select>

    <!--회원 탈퇴-->
    <update id="deleteAccount"
            parameterType="Integer">

        UPDATE
            tbl_member_admin
        SET
            use_yn = 'N',
            a_m_mod_date = NOW()
        where
            a_m_no = #{a_m_no}

    </update>

    <!--관리자 정보 리스트-->
    <select id="selectAdminForApproval"
            resultType="com.btc.thewayhome.admin.member.AdminMemberDto">
        SELECT
            *
        FROM
            tbl_member_admin
    </select>

    <!--관리자 승인 처리-->
    <update id="updateAdminForApporoval" parameterType="Integer">
        UPDATE tbl_member_admin
        SET
            a_m_approval = CASE
                               WHEN a_m_approval = '1' THEN '0'
                               WHEN a_m_approval = '0' THEN '1'
                END,
            a_m_mod_date = NOW()
        WHERE
            a_m_no = #{a_m_no}

    </update>

<!--    <select id="searchAdminInfoForApproval"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto">

        select
            *
        from
            tbl_member_admin
        where
            a_m_no = #{a_m_no}

    </select>-->

    <!--(로그인을 위한) 관리자 승인 처리 - a_m_approval 값을 받기 위함-->
    <select id="selectAdminForApprovalFromNo"
            parameterType="Integer"
            resultType="String">

        select
            a_m_approval
        from
            tbl_member_admin
        where
            a_m_no = #{a_m_no}

    </select>

</mapper>