<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.thewayhome.admin.pets.IPetsAdminDaoMapper">

<!--  pet API DB에 삽입-->
    <insert id="insertPetsInfo" parameterType="com.btc.thewayhome.admin.pets.PetsApiDto">
        INSERT INTO tbl_animal_api(an_no,
                                   an_thumbnail,
                                   an_happen_date,
                                   an_happen_place,
                                   an_k_kind,
                                   an_color,
                                   an_age,
                                   an_weight,
                                   an_n_notice_no,
                                   an_n_start,
                                   an_n_end,
                                   an_image,
                                   an_p_s_state,
                                   an_g_gender,
                                   an_ne_neuter,
                                   an_special_mark,
                                   s_name,
                                   s_phone,
                                   s_address,
                                   an_o_organization,
                                   an_o_charge,
                                   an_o_charge_tel)


        VALUES (#{an_no},
                #{an_thumbnail},
                #{an_happen_date},
                #{an_happen_place},
                #{an_k_kind},
                #{an_color},
                #{an_age},
                #{an_weight},
                #{an_n_notice_no},
                #{an_n_start},
                #{an_n_end},
                #{an_image},
                #{an_p_s_state},
                #{an_g_gender},
                #{an_ne_neuter},
                #{an_special_mark},
                #{s_name},
                #{s_phone},
                #{s_address},
                #{an_o_organization},
                #{an_o_charge},
                #{an_o_charge_tel}
                )
    </insert>


</mapper>