<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.thewayhome.admin.pets.admin.IPetsAdminDaoMapper">

    <!--  pet API DB에 삽입-->
    <insert id="insertPetsInfo" parameterType="com.btc.thewayhome.admin.pets.admin.PetsApiDto">
        INSERT INTO tbl_animal_api(an_no,
                                   an_thumbnail,
                                   an_happen_date,
                                   an_happen_place,
                                   an_an_kind,
                                   an_k_kind,
                                   an_color,
                                   an_age,
                                   an_weight,
                                   an_n_start,
                                   an_n_end,
                                   an_image,
                                   an_p_s_state,
                                   an_g_gender,
                                   an_ne_neuter,
                                   an_special_mark,
                                   s_name,
                                   s_phone,
                                   s_address,
                                   an_reg_date,
                                   an_mod_date)


        VALUES (#{an_no},
                #{an_thumbnail},
                #{an_happen_date},
                #{an_happen_place},
                #{an_an_kind},
                #{an_k_kind},
                #{an_color},
                #{an_age},
                #{an_weight},
                #{an_n_start},
                #{an_n_end},
                #{an_image},
                #{an_p_s_state},
                #{an_g_gender},
                #{an_ne_neuter},
                #{an_special_mark},
                #{s_name},
                #{s_phone},
                #{s_address},
                NOW(),
                NOW()
               )
    </insert>

<!-- 보호소가 유기동물을 DB에 직접 등록-->
    <insert id="registPets" parameterType="com.btc.thewayhome.admin.pets.admin.PetsApiDto">
        INSERT INTO tbl_animal_api(an_no,
                                   an_thumbnail,
                                   an_happen_date,
                                   an_happen_place,
                                   an_an_kind,
                                   an_k_kind,
                                   an_color,
                                   an_age,
                                   an_weight,
                                   an_n_start,
                                   an_n_end,
                                   an_image,
                                   an_p_s_state,
                                   an_g_gender,
                                   an_ne_neuter,
                                   an_special_mark,
                                   s_name,
                                   s_phone,
                                   s_address,
                                   an_reg_date,
                                   an_mod_date)


        VALUES (#{an_no},
                #{an_thumbnail},
                #{an_happen_date},
                #{an_happen_place},
                #{an_an_kind},
                #{an_k_kind},
                #{an_color},
                #{an_age},
                #{an_weight},
                #{an_n_start},
                #{an_n_end},
                #{an_image},
                #{an_p_s_state},
                #{an_g_gender},
                #{an_ne_neuter},
                #{an_special_mark},
                #{s_name},
                #{s_phone},
                #{s_address},
                NOW(),
                NOW()
               )
    </insert>

    <!--보호소 리스트 - 관리자가 조회하는 페이지-->
    <select id="selectShelter"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto"
            resultType="com.btc.thewayhome.admin.pets.admin.AdminShelterListInfoDto">

        SELECT
            n.s_no,
            n.s_name,
            i.s_address,
            i.s_phone,
            i.s_reg_date
        FROM
            tbl_shelter_num n
        INNER JOIN
            tbl_shelter_info i
        ON
            n.s_name = i.s_name
        where s_no = #{s_no}
        ORDER BY
            s_no ASC
    </select>

    <!--보호소 리스트 - super가 조회하는 페이지-->
    <select id="selectShelterSuper"
            parameterType="com.btc.thewayhome.admin.pets.admin.AdminShelterListInfoDto"
            resultType="com.btc.thewayhome.admin.pets.admin.AdminShelterListInfoDto">

        SELECT
            n.s_no,
            n.s_name,
            i.s_address,
            i.s_phone,
            i.s_reg_date
        FROM
                tbl_shelter_num n
            INNER JOIN
                tbl_shelter_info i
            ON
                n.s_name = i.s_name
        ORDER BY
            s_no ASC
    </select>

    <!--보호소 리스트 - 일반 admin 검사-->
    <select id="isAdminMemberBasic"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto"
            resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            tbl_member_admin
        WHERE
            a_m_id = #{a_m_id}
        AND
            a_m_approval = '1'
    </select>

    <!--보호소 리스트 - SUPER 검사-->
    <select id="isAdminMemberSuper"
            parameterType="com.btc.thewayhome.admin.member.AdminMemberDto"
            resultType="boolean">
        SELECT
            COUNT(*)
        FROM
            tbl_member_admin
        WHERE
            a_m_approval = '2'
    </select>

    <!--보호 동물 리스트(보호소 리스트 상세 페이지)-->
<!--    <select id="selectPets"
            parameterType="com.btc.thewayhome.admin.pets.admin.AdminPetsListInfoDto"
            resultType="com.btc.thewayhome.admin.pets.admin.AdminPetsListInfoDto">

        SELECT
            a.an_no,
            sn.s_no,
            sn.s_name,
            ak.an_k_kind,
            n.an_n_no,
            n.an_n_start,
            n.an_n_end,
            aps.an_p_s_state
        FROM tbl_animal AS a
                 JOIN tbl_animal_kind AS ak ON a.an_k_no = ak.an_k_no
                 JOIN tbl_notice AS n ON a.an_n_no = n.an_n_no
                 JOIN tbl_animal_process_state AS aps ON a.an_p_s_no = aps.an_p_s_no
                 JOIN tbl_shelter_num AS sn ON a.s_no = sn.s_no
        WHERE
            sn.s_no = #{sn.s_no}
    </select>-->

   <select id="selectPets"
            parameterType="String"
            resultType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto">

        SELECT
            an.an_no,
            an.an_thumbnail,
            ad.s_no,
            an.s_name,
            an.an_k_kind,
            an.an_n_notice_no,
            an.an_n_start,
            an.an_n_end,
            an.an_p_s_state
        FROM
            tbl_animal_api AS an
            Inner JOIN
                tbl_member_admin AS ad
            ON
                an.s_name = ad.s_name
        WHERE
            ad.s_no = #{s_no}
    </select>

    <!--보호 동물 리스트 - 보호동물 리스트 눌렀을 때 보호동물 불러오기 -->
    <select id="selectAllPets"
            parameterType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto"
            resultType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto">

        SELECT
            a.an_no,
            a.an_thumbnail,
            sn.s_no,
            a.s_name,
            a.an_k_kind,
            a.an_n_notice_no,
            a.an_n_start,
            a.an_n_end,
            a.an_p_s_state
        FROM
            tbl_animal_api AS a
                JOIN
            tbl_shelter_num AS sn
            ON
                a.s_name = sn.s_name
    </select>

 <!--   <select id="selectPets"
            parameterType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto"
            resultType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto">

        SELECT
            an_no,
            s_name,
            an_k_kind,
            an_n_notice_no,
            an_n_start,
            an_n_end,
            an_p_s_state
        FROM
            tbl_animal_api
        WHERE
            s_name = #{s_name}
    </select>-->

    <!--보호 동물 상세 페이지 - 조회수-->
<!--    <update id="updatePetsListDetailHits"-->
<!--            parameterType="String">-->
<!--        update-->
<!--            tbl_animal_api-->
<!--        set-->
<!--            an_hit = an_hit + 1-->
<!--        where-->
<!--            an_no = #{an_no}-->
<!--    </update>-->

    <!--<select id="selectPetsListDetail"
            parameterType="Integer"
            resultType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto">
        SELECT
            a.an_no,
            ag.an_g_gender,
            ac.an_c_color,
            a.an_age,
            a.an_weight,
            ak.an_k_kind,
            n.an_n_notice_no,
            n.an_n_start,
            n.an_n_end,
            a.an_happen_place,
            a.an_special_mark,
            s.s_name
        FROM tbl_animal AS a
                 INNER JOIN tbl_animal_gender AS ag ON a.an_g_no = ag.an_g_no
                 INNER JOIN tbl_animal_color AS ac ON a.an_c_no = ac.an_c_no
                 INNER JOIN tbl_notice AS n ON a.an_n_no = n.an_n_no
                 INNER JOIN tbl_shelter AS s ON a.s_no = s.s_no
                 INNER JOIN tbl_animal_kind AS ak ON a.an_k_no = ak.an_k_no
        WHERE
            a.an_no = #{an_no}
    </select>-->

    <select id="selectPetsListDetail"
            parameterType="String"
            resultType="com.btc.thewayhome.admin.pets.admin.PetsAdminDto">
        SELECT
            an_no,
            an_image,
            an_g_gender,
            an_color,
            an_age,
            an_weight,
            an_k_kind,
            an_n_notice_no,
            an_n_start,
            an_n_end,
            an_happen_place,
            an_special_mark,
            s_name
        FROM
            tbl_animal_api
        WHERE
            an_no = #{an_no}
    </select>


</mapper>