<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.thewayhome.user.member.IUserMemberDaoMapper">

    <select id="isMember" parameterType="String" resultType="Boolean">

        SELECT
            COUNT(*)
        FROM
            tbl_member_user
        WHERE u_m_id = #{u_m_id}

    </select>

    <insert id="insertUserMember" parameterType="com.btc.thewayhome.user.member.UserMemberDto" >

        INSERT INTO
            tbl_member_user(u_m_id, u_m_pw, u_m_name, u_m_phone, u_m_mail, u_m_reg_date, u_m_mod_date)
        VALUES
            (#{u_m_id}, #{u_m_pw}, #{u_m_name}, #{u_m_phone}, #{u_m_mail}, NOW(),NOW())


    </insert>

    <select id="selectUserMemberForLogin"
            parameterType="com.btc.thewayhome.user.member.UserMemberDto"
            resultType="com.btc.thewayhome.user.member.UserMemberDto">
        SELECT
            *
        FROM
            tbl_member_user
        WHERE
            u_m_id = #{u_m_id}
    </select>

    <select id="selectUserForLogin"
            parameterType="com.btc.thewayhome.user.member.UserMemberDto"
            resultType="com.btc.thewayhome.user.member.UserMemberDto">
        SELECT
            *
        FROM
            tbl_member_user
        WHERE
            u_m_id = #{u_m_id}
          AND
            u_m_pw = #{u_m_pw}
          AND
            use_yn = 'Y';
    </select>

    <update id="deleteUserMember" parameterType="Integer">

        UPDATE
            use_yn
        SET
            use_yn = 'N'
        WHERE
            u_m_no = #{u_m_no}
    </update>

</mapper>