<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.btc.thewayhome.admin.member.IAdminMemberDaoMapper">

    <insert id="insertShelterNum" parameterType="com.btc.thewayhome.admin.member.ShelterNumDto">
        INSERT INTO tbl_shelterNum(s_no, s_name)
        VALUES(#{s_no}, #{s_name})
    </insert>


    <insert id="insertShelterInfo" parameterType="com.btc.thewayhome.admin.member.ShelterInfoDto">
        INSERT INTO tbl_shelterInfo(s_name, s_phone, s_address, s_reg_date, s_mod_date)
        VALUES(#{s_name}, #{s_phone}, #{s_address}, NOW(), NOW())
    </insert>

<!--    <select id="ShelterNumList" parameterType="String"-->
<!--    resultType="com.btc.thewayhome.admin.member.AdminMemberDto">-->
<!--        select a.s_name, a.s_no, b.s_phone, b.s_address-->
<!--        from-->
<!--            db_thewayhome.tbl_shelterNum a natural join db_thewayhome.tbl_shelterInfo b-->
<!--        where a.#{s_name} = b.#{s_name};-->
<!--    </select>-->


    <select id="ShelterNumList"  resultType="com.btc.thewayhome.admin.member.ShelterNumDto">
        select * from tbl_shelterNum


    </select>

    <select id="ShelterInfoList"  resultType="com.btc.thewayhome.admin.member.ShelterInfoDto">
        select * from tbl_shelterInfo


    </select>


</mapper>