<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보호소</title>

    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/admin/member_login_form.css}">-->

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>

</head>
<body>
<header th:replace="~{/admin/include/admin_header_footer.html::header}">
</header>

<section>
    <div id="section_wrap">

        <div class="word">
            보호 동물 리스트
        </div>

        <div div="search_box">
            <select name="kind">
                <option value="kind">축종</option>
                <option value="kind1">개</option>
                <option value="kind2">고양이</option>
                <option value="kind2">기타</option>
            </select>
            <select name="area">
                <option value="area">지역설정</option>
                <option value="area1">부산광역시</option>
                <option value="area2">광주광역시</option>
            </select>
        </div>
        <div id="pet_list">
            <table>
                <thead>
                <tr>
                    <th>NO</th>
                    <th>품종</th>
                    <th>공고번호</th>
                    <th>공고마감일</th>
                    <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dto: ${petsAdminDtos}">
                    <td class="an_no" th:text="${dto.an_no}"></td>
                    <td class="an_k_kind" th:text="${dto.an_k_kind}"></td>
                    <td class="an_n_no" >
                        <a th:href="@{/user/pets/pets_list_detail}" th:text="${dto.an_n_no}"></a>
                    </td>
                    <td class="an_n_end" th:text="${dto.an_n_end}"></td>
                    <td class="an_p_s_state" th:text="${dto.an_p_s_state}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
</section>

<footer th:replace="~{/admin/include/admin_header_footer.html::footer}">
</footer>

</body>
</html>