<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보호소</title>

    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/admin/member_login_form.css}">-->

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>

</head>
<style>
    .basic_info p {
        display: inline-block;
        margin-right: 20px; /* 각 정보 사이의 간격 조절 */
    }

    .basic_info p:last-child {
        margin-right: 0; /* 마지막 정보 뒤에는 간격 제거 */
    }
</style>
<body>
<header th:replace="~{/admin/include/admin_header_footer.html::header}">
</header>

<section>
    <div id="section_wrap">

        <div class="word">
            보호 동물
        </div>

        <div id="pet_list_detail">
            <div class="img">
                <img th:src="@{/img/temp1.png}" style="display:block; width:50%;" class="mx-auto" onclick="window.open(this.src)">
            </div>
            <div class="kind">
                <!--<p>" [" + <span th:text="${petAdminDto.an_no}"></span> "+]" </p>
                <p>" [" + <span th:text="${petAdminDto.an_no}"></span> "+]" </p>-->
                <p>
                    <span>[개]</span>
                    <span>말티즈</span>
                </p>
            </div>
            <div class="basic_info">
                    <input name="an_no" type="hidden" th:value="${petsAdminDto.an_no}">
                    <input name="an_no" type="hidden" th:value="${petsAdminDto.s_no}">
                    <p> 성별: &nbsp; <span th:text="${petsAdminDto.an_g_gender}"></span> | </p>
                    <p> 색상: &nbsp; <span th:text="${petsAdminDto.an_c_color}"></span> | </p>
                    <p> 출생: &nbsp; <span th:text="${petsAdminDto.an_age}"></span> (년생) | </p>
                    <p> 몸무게:&nbsp;  <span th:text="${petsAdminDto.an_weight}"></span> (Kg)</p>
            </div>
            <br>
            <br>
            <div class="detail_info">
                <p>공고번호: <span th:text="${petsAdminDto.an_n_notice_no}"></span> </p>
                <p>공고기간:
                    <span th:text="${petsAdminDto.an_n_start}"></span>
                    <span> ~ </span>
                    <span th:text="${petsAdminDto.an_n_end}"></span>
                </p>
                <p>발견장소: <span th:text="${petsAdminDto.an_happen_place}"></span> </p>
                <p>특이사항: <span th:text="${petsAdminDto.an_special_mark}"></span> </p>
                <p>보호센터: <span th:text="${petsAdminDto.s_name}"></span> </p>
            </div>
        </div>
    </div>

    <div class="go_pets_list">
        <a th:href="@{/user/pets/pets_list(s_no=${petsAdminDto.s_no})}">목록</a>
    </div>

    </div>
</section>

<footer th:replace="~{/admin/include/admin_header_footer.html::footer}">
</footer>

</body>
</html>