<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>보호소</title>

    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <!--    <link rel="stylesheet" th:href="@{/css/admin/member_login_form.css}">-->

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>

</head>
<body>
<header th:replace="~{/admin/include/admin_header_footer.html::header}">
</header>

<section>
    <div id="section_wrap">

        <div class="word">
            보호소 리스트
        </div>

        <div id="search_box">
            <select name="area">
                <option value="area">지역설정</option>
                <option value="area1">부산광역시</option>
                <option value="area2">광주광역시</option>
            </select>
        </div>

        <div id="shelter_list">
            <table>
                <thead>
                <tr>
                    <th>NO</th>
                    <th>보호소명</th>
                    <th>주소</th>
                    <th>연락처</th>
                    <th>등록일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dto: ${shelterListInfoDtos}">
                    <td class="s_no" th:text="${dto.s_no}"></td>
                    <td class="s_name" >
                        <a th:href="@{/user/pets/pets_list}" th:text="${dto.s_name}"></a>
                    </td>
                    <td class="s_address" th:text="${dto.s_address}"></td>
                    <td class="s_phone" th:text="${dto.s_phone}"></td>
                    <td class="s_reg_date" th:text="${dto.s_reg_date}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
</section>

<footer th:replace="~{/admin/include/admin_header_footer.html::footer}">
</footer>

</body>
</html>